<template>
    <div
        class="modal fade"
        :id="'modal' + modal.id"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <slot name="movieSlot"></slot>
                <slot name="personSlot"></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['modal'],
    };
</script>
