<template>
    <div
        class="modal fade"
        id="genreFormModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Genre</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form
                        class="needs-validation"
                        id="genreForm"
                        @submit.prevent="checkForm"
                        novalidate
                    >
                        <div class="mb-3">
                            <label for="genre-name" class="col-form-label"
                                >Genre Name:</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="genre-name"
                                v-model="name"
                                required
                            />
                            <div class="invalid-feedback">
                                Please enter name.
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                                Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: '',
            };
        },
        methods: {
            addDetail() {
                this.name = '';
                document
                    .getElementById('genreForm')
                    .classList.remove('was-validated');
            },

            checkForm(event) {
                event.target.classList.add('was-validated');
                this.addGenre();
            },
            addGenre() {
                this.$emit('add-genre', this.name);
            },
        },
    };
</script>
