<template>
    <div class="container col-md-8">
        <h4 class="mb-3">Enter Movie Details</h4>
        <form
            class="needs-validation"
            id="movieForm"
            @submit.prevent="checkForm"
            novalidate
        >
            <div class="row g-3">
                <!-- Movie Name -->
                <div class="col-sm-8 mb-3">
                    <label for="movie-name" class="form-label"
                        >Movie Name</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="movie-name"
                        v-model="movieDetail.name"
                        required
                    />
                    <div class="invalid-feedback">
                        Valid movie name is required.
                    </div>
                </div>

                <!-- Year of Release -->
                <div class="col-sm-4 mb-3">
                    <label for="yearOfRelease" class="form-label"
                        >Release Year</label
                    >
                    <date-picker
                        type="year"
                        class="form-control"
                        :class="{
                            invalid: validateReleaseYear === 'invalid',
                            valid: validateReleaseYear === 'valid',
                        }"
                        valueType="format"
                        :disabled-date="disabledDate"
                        id="yearOfRelease"
                        v-model="movieDetail.year"
                        autocomplete="off"
                        required
                    >
                    </date-picker>
                    <div
                        v-if="validateReleaseYear === 'invalid'"
                        :class="{ red: validateReleaseYear === 'invalid' }"
                    >
                        Valid release year is required.
                    </div>
                </div>

                <!-- Plot -->
                <div class="col-12 mb-3">
                    <label for="plot" class="form-label">Plot</label>
                    <textarea
                        class="form-control"
                        name="plot"
                        id="plot"
                        v-model="movieDetail.plot"
                        cols="30"
                        rows="5"
                        required
                    ></textarea>
                    <div class="invalid-feedback">
                        Please enter a plot of movie.
                    </div>
                </div>

                <!-- Poster -->
                <div class="col-12 mb-3">
                    <label for="poster" class="form-label">Poster</label>
                    <input
                        type="file"
                        class="form-control"
                        id="poster"
                        ref="file"
                        accept="image/*"
                        @change="onChangeFileUpload()"
                        required
                    />
                    <div class="invalid-feedback">
                        Please enter poster url.
                    </div>
                </div>

                <!-- Actor -->
                <div class="col-md-8 mb-3">
                    <label for="actors" class="form-label">Actors</label>
                    <multi-select
                        :class="{
                            invalid: validateActor === 'invalid',
                            valid: validateActor === 'valid',
                        }"
                        v-model="movieDetail.actors"
                        id="actors"
                        label="name"
                        track-by="id"
                        :options="actorsList"
                        :multiple="true"
                        required
                    >
                    </multi-select>
                    <div
                        v-if="validateActor === 'invalid'"
                        :class="{ red: validateActor === 'invalid' }"
                    >
                        Please select atlease one actor.
                    </div>
                </div>

                <!-- Add Actor -->
                <div class="col-md-4 mt-5">
                    <button
                        type="button"
                        class="btn w-100 btn-success"
                        data-bs-toggle="modal"
                        data-bs-target="#personFormModal"
                        @click="showActorModal"
                    >
                        Add New Actor
                    </button>
                </div>

                <!-- Producer -->
                <div class="col-md-8 mb-3">
                    <label for="producers" class="form-label">Producer</label>
                    <multi-select
                        :class="{
                            invalid: validateProducer === 'invalid',
                            valid: validateProducer === 'valid',
                        }"
                        id="producers"
                        v-model="movieDetail.producer"
                        label="name"
                        track-by="id"
                        :options="producersList"
                        required
                    >
                    </multi-select>
                    <div
                        v-if="validateProducer === 'invalid'"
                        :class="{ red: validateProducer === 'invalid' }"
                    >
                        Please select producer.
                    </div>
                </div>

                <!-- Add Producer -->
                <div class="col-md-4 mt-5">
                    <button
                        type="button"
                        class="btn w-100 btn-success"
                        data-bs-toggle="modal"
                        data-bs-target="#personFormModal"
                        @click="showProducerModal"
                    >
                        Add New Producer
                    </button>
                </div>

                <!-- Genre -->
                <div class="col-md-8 mb-3">
                    <label for="genres" class="form-label">Genres</label>
                    <multi-select
                        :class="{
                            invalid: validateGenre === 'invalid',
                            valid: validateGenre === 'valid',
                        }"
                        id="genres"
                        v-model="movieDetail.genres"
                        label="name"
                        track-by="id"
                        :options="genresList"
                        :multiple="true"
                        required
                    >
                    </multi-select>
                    <div
                        v-if="validateGenre === 'invalid'"
                        :class="{ red: validateGenre === 'invalid' }"
                    >
                        Please select atlease one genre.
                    </div>
                </div>

                <!-- Add Genre -->
                <div class="col-md-4 mt-5">
                    <button
                        type="button"
                        class="btn w-100 btn-success"
                        data-bs-toggle="modal"
                        data-bs-target="#genreFormModal"
                        @click="showGenreModal"
                    >
                        Add New Genre
                    </button>
                </div>

                <div id="movie-footer">
                    <button
                        class="w-100 mt-5 btn btn-primary btn-lg"
                        type="submit"
                    >
                        {{ submitButton }}
                    </button>
                </div>
            </div>
        </form>

        <person-form
            ref="personForm"
            @submit-person="submitPerson"
        ></person-form>
        <genre-form ref="genreForm" @add-genre="submitGenre"></genre-form>
    </div>
</template>

<script>
    import PersonForm from './PersonForm.vue';
    import GenreForm from './GenreForm.vue';
    import DatePicker from 'vue2-datepicker';
    import MultiSelect from 'vue-multiselect';
    import MovieService from '../services/MovieService.js';
    import ActorService from '../services/ActorService.js';
    import ProducerService from '../services/ProducerService.js';
    import GenreService from '../services/GenreService.js';
    import { mapState } from 'vuex';
    import 'vue2-datepicker/index.css';
    import 'vue-multiselect/dist/vue-multiselect.min.css';
    export default {
        components: {
            PersonForm,
            GenreForm,
            DatePicker,
            MultiSelect,
        },

        data() {
            return {
                movieDetail: {
                    id: 0,
                    name: '',
                    year: null,
                    plot: '',
                    poster: '',
                    actors: [],
                    producer: null,
                    genres: [],
                },
                validateDropDown: false,
                submitButton: 'Add Movie',
                checkPerson: '',
            };
        },
        created() {
            this.$store.dispatch('getActors');
            this.$store.dispatch('getProducers');
            this.$store.dispatch('getGenres');
            if (this.$route.query.id) {
                this.movieDetail.id = this.$route.query.id;
                this.submitButton = 'Update Movie';
                this.getMovieDetailById(this.movieDetail.id);
            }
        },
        watch: {
            $route() {
                this.movieDetail.id = 0;
                this.movieDetail.name = '';
                this.movieDetail.year = null;
                this.movieDetail.plot = '';
                this.movieDetail.actors = [];
                this.movieDetail.producer = null;
                this.movieDetail.genres = [];
                this.submitButton = 'Add Movie';
            },
        },

        computed: {
            ...mapState(['actorsList', 'producersList', 'genresList']),
            validateReleaseYear() {
                if (
                    this.movieDetail.year === null &&
                    this.validateDropDown === true
                ) {
                    return 'invalid';
                } else if (
                    this.movieDetail.year !== null &&
                    this.validateDropDown === true
                ) {
                    return 'valid';
                }
                return '';
            },

            validateActor() {
                if (
                    this.movieDetail.actors.length === 0 &&
                    this.validateDropDown === true
                ) {
                    return 'invalid';
                } else if (
                    this.movieDetail.actors.length !== 0 &&
                    this.validateDropDown === true
                ) {
                    return 'valid';
                }
                return '';
            },

            validateProducer() {
                if (
                    this.movieDetail.producer === null &&
                    this.validateDropDown === true
                ) {
                    return 'invalid';
                } else if (
                    this.movieDetail.producer !== null &&
                    this.validateDropDown === true
                ) {
                    return 'valid';
                }
                return '';
            },

            validateGenre() {
                if (
                    this.movieDetail.genres.length === 0 &&
                    this.validateDropDown === true
                ) {
                    return 'invalid';
                } else if (
                    this.movieDetail.genres.length !== 0 &&
                    this.validateDropDown === true
                ) {
                    return 'valid';
                }
                return '';
            },
        },

        methods: {
            disabledDate(date) {
                const start = new Date(1900, 0, 1);
                const today = new Date();
                return date < start || date > today;
            },

            getMovieDetailById(id) {
                this.$Progress.start();
                MovieService.getMovie(id)
                    .then((response) => {
                        this.movieDetail.name = response.data.name;
                        this.movieDetail.year = response.data.yearOfRelease.toString();
                        this.movieDetail.plot = response.data.plot;
                        this.movieDetail.actors = response.data.actors;
                        this.movieDetail.producer = response.data.producer;
                        this.movieDetail.genres = response.data.genres;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        console.log('Failed to fetch this movie');
                        this.$Progress.fail();
                        this.$toast.error('Failed to fetch this movie.');
                    });
            },

            showActorModal() {
                this.checkPerson = 'Actor';
                this.$refs.personForm.addDetail('Actor');
            },

            showProducerModal() {
                this.checkPerson = 'Producer';
                this.$refs.personForm.addDetail('Producer');
            },

            showGenreModal() {
                this.$refs.genreForm.addDetail();
            },

            submitGenre(name) {
                if (name !== '') {
                    this.$Progress.start();
                    var genreList = {
                        name: name,
                    };
                    GenreService.addGenre(genreList)
                        .then((response) => {
                            this.closeModal('genreFormModal');
                            this.movieDetail.genres.push(response.data);
                            this.$store.dispatch('getGenres');
                            this.$Progress.finish();
                            this.$toast.success('Genre added successfully.');
                        })
                        .catch(() => {
                            console.log('Failed to add genre');
                            this.$Progress.fail();
                            this.$toast.error('Failed to add genre.');
                        });
                }
            },

            submitPerson(person) {
                if (person.name !== '' && person.bio !== '') {
                    this.$Progress.start();
                    if (this.checkPerson === 'Actor') {
                        ActorService.addActor(person)
                            .then((response) => {
                                this.closeModal('personFormModal');
                                this.movieDetail.actors.push(response.data);
                                this.$store.dispatch('getActors');
                                this.$Progress.finish();
                                this.$toast.success(
                                    'Actor added successfully.'
                                );
                            })
                            .catch(() => {
                                console.log('Failed to add actor');
                                this.$Progress.fail();
                                this.$toast.error('Failed to add actor.');
                            });
                    }
                    if (this.checkPerson === 'Producer') {
                        ProducerService.addProducer(person)
                            .then((response) => {
                                this.closeModal('personFormModal');
                                this.movieDetail.producer = response.data;
                                this.$store.dispatch('getProducers');
                                this.$Progress.finish();
                                this.$toast.success(
                                    'Producer added successfully.'
                                );
                            })
                            .catch(() => {
                                console.log('Failed to add producer');
                                this.$Progress.fail();
                                this.$toast.error('Failed to add producer.');
                            });
                    }
                }
            },

            closeModal(formId) {
                const modal = document.getElementById(formId);
                modal.style.display = 'none';
                modal.setAttribute('aria-hidden', 'true');
                modal.removeAttribute('aria-modal');
                modal.removeAttribute('role');
                modal.classList.remove('show');
                document.body.classList.remove('modal-open');
                document.body.style.paddingRight = 0;
                document
                    .querySelector('.modal-backdrop')
                    .classList.remove('modal-backdrop', 'show', 'fade');
            },

            checkForm(event) {
                this.validateDropDown = true;
                event.target.classList.add('was-validated');
                this.submitMovie();
            },

            onChangeFileUpload() {
                this.movieDetail.poster = this.$refs.file.files[0];
            },

            submitMovie() {
                var formData = new FormData();
                formData.append('file', this.movieDetail.poster);
                if (
                    this.movieDetail.poster !== '' &&
                    this.movieDetail.name !== '' &&
                    this.movieDetail.plot !== ''
                ) {
                    this.$Progress.start();
                    MovieService.addPoster(formData)
                        .then((response) => {
                            var movieList = {
                                name: this.movieDetail.name,
                                yearOfRelease: this.movieDetail.year,
                                plot: this.movieDetail.plot,
                                producerId: this.movieDetail.producer.id,
                                poster: response.data,
                                actorsId: this.movieDetail.actors.map(
                                    (actor) => actor.id
                                ),
                                genresId: this.movieDetail.genres.map(
                                    (genre) => genre.id
                                ),
                            };
                            if (this.movieDetail.id === 0) {
                                MovieService.addMovie(movieList)
                                    .then(() => {
                                        this.$router.push('/');
                                        this.$Progress.increase(50);
                                        this.$toast.success(
                                            'Movie added successfully.'
                                        );
                                    })
                                    .catch(() => {
                                        console.log('Failed to add movie');
                                        this.$Progress.fail();
                                        this.$toast.error(
                                            'Failed to add movie.'
                                        );
                                    });
                            } else {
                                MovieService.updateMovie(
                                    this.movieDetail.id,
                                    movieList
                                )
                                    .then(() => {
                                        this.$router.push('/');
                                        this.$Progress.increase(50);
                                        this.$toast.success(
                                            'Movie updated successfully.'
                                        );
                                    })
                                    .catch(() => {
                                        console.log('Failed to update movie');
                                        this.$Progress.fail();
                                        this.$toast.error(
                                            'Failed to update movie.'
                                        );
                                    });
                            }
                            this.$Progress.finish();
                        })
                        .catch(() => {
                            console.log('Failed to add image');
                            this.$Progress.fail();
                            this.$toast.error('Failed to add image.');
                        });
                }
            },
        },
    };
</script>

<style>
    .mx-datepicker.invalid {
        border-color: #dc3545;
    }

    .mx-datepicker.valid {
        border-color: #198754;
    }

    .mx-datepicker input {
        box-shadow: none;
        height: 20px;
        border: none;
        width: 100%;
    }

    .multiselect.invalid .multiselect__tags {
        border-color: #dc3545;
    }

    .multiselect.valid .multiselect__tags {
        border-color: #198754;
    }

    .red {
        margin-top: 5px;
        color: #dc3545;
        font-size: 0.875em;
    }
</style>
