<template>
    <div>
        <div class="col">
            <div class="card shadow-sm" id="movie">
                <img
                    class="bd-placeholder-img card-img-top"
                    data-bs-toggle="modal"
                    :data-bs-target="'#modal' + movie.id"
                    :src="movie.poster"
                    @error="$event.target.src = altImg"
                    width="100%"
                    height="250px"
                />
                <div class="card-body">
                    <h4 class="card-text" id="movieName">
                        <span
                            style="cursor:pointer;"
                            data-bs-toggle="modal"
                            :data-bs-target="'#modal' + movie.id"
                        >
                            {{ movie.name }}
                        </span>
                    </h4>
                    <div
                        class="d-flex justify-content-between align-items-center"
                    >
                        <small class="movie-year text-muted">
                            {{ movie.yearOfRelease }}
                        </small>
                        <div class="movie-button">
                            <button
                                type="button"
                                class="btn btn-sm me-2 btn-outline-primary"
                                @click="editMovie(movie.id)"
                            >
                                <i class="fas fa-edit"></i> Edit
                            </button>
                            <button
                                type="button"
                                class="btn btn-sm btn-outline-danger"
                                data-bs-toggle="modal"
                                :data-bs-target="'#delete' + movie.id"
                            >
                                <i class="fas fa-trash-alt"></i> Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <movie-modal :modal="movie">
            <div slot="movieSlot">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        {{ movie.name }}
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <h5>Plot:</h5>
                    <p>
                        {{ movie.plot }}
                    </p>
                    <hr />
                    <p><strong>Producer: </strong>{{ movie.producer.name }}</p>
                    <p>
                        <strong>Actor: </strong>
                        <span
                            v-for="(actor, index) in movie.actors"
                            :key="actor.id"
                        >
                            {{ actor.name }}
                            <span v-if="index < movie.actors.length - 1"
                                >,</span
                            >
                        </span>
                    </p>
                    <p>
                        <strong>Genre: </strong>
                        <span v-for="genre in movie.genres" :key="genre.id">
                            {{ genre.name }}
                        </span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                </div>
            </div>
        </movie-modal>

        <delete-modal
            :modal="movie"
            :modalType="modalType"
            @delete-modal="deleteMovie"
        ></delete-modal>
    </div>
</template>

<script>
    import MovieModal from './DetailModal.vue';
    import DeleteModal from './DeleteModal.vue';
    import img from '../assets/IMDb.png';
    export default {
        props: ['movie'],
        components: {
            MovieModal,
            DeleteModal,
        },
        data() {
            return {
                altImg: img,
                modalType: 'Movie',
            };
        },
        methods: {
            editMovie(id) {
                this.$router.push({ path: '/editMovie', query: { id } });
            },
            deleteMovie(id) {
                this.$emit('delete-movie', id);
            },
        },
    };
</script>
