<template>
    <div
        class="modal fade"
        id="personFormModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        {{ title }} {{ person }}
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form
                        class="needs-validation"
                        id="personForm"
                        @submit.prevent="checkForm"
                        novalidate
                    >
                        <div class="mb-3">
                            <label for="name" class="col-form-label">
                                Name:</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="name"
                                v-model="personList.name"
                                required
                            />
                            <div class="invalid-feedback">
                                Please enter name.
                            </div>
                        </div>
                        <div class="col-md-8 mb-3">
                            <label for="gender" class="form-label"
                                >Gender</label
                            >
                            <select
                                class="form-select"
                                id="gender"
                                v-model="personList.gender"
                                required
                            >
                                <option value="">Choose...</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select gender.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="dob" class="col-form-label"
                                >Date Of Birth:</label
                            >
                            <input
                                type="date"
                                class="form-control"
                                min="1900-01-01"
                                max="2001-12-31"
                                id="dob"
                                v-model="personList.dob"
                                required
                            />
                            <div class="invalid-feedback">
                                Please select date of birth.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="bio-text" class="col-form-label"
                                >Bio:</label
                            >
                            <textarea
                                class="form-control"
                                id="bio-text"
                                v-model="personList.bio"
                                required
                            ></textarea>
                            <div class="invalid-feedback">
                                Please enter bio.
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                                {{ button }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: '',
                person: '',
                button: '',
                personList: {
                    id: '',
                    name: '',
                    dob: '',
                    gender: '',
                    bio: '',
                },
            };
        },
        methods: {
            addDetail(person) {
                this.title = 'Add';
                this.button = 'Add';
                this.person = person;
                this.personList.id = 0;
                this.personList.name = '';
                this.personList.dob = '';
                this.personList.gender = '';
                this.personList.bio = '';
                document
                    .getElementById('personForm')
                    .classList.remove('was-validated');
            },

            editDetail(personData, person) {
                this.title = 'Edit';
                this.button = 'Update';
                this.person = person;
                this.personList.id = personData.id;
                this.personList.name = personData.name;
                this.personList.dob = personData.dob.split('T')[0];
                this.personList.gender = personData.gender;
                this.personList.bio = personData.bio;
                document
                    .getElementById('personForm')
                    .classList.remove('was-validated');
            },

            checkForm(event) {
                event.target.classList.add('was-validated');
                this.submitPerson();
            },

            submitPerson() {
                this.$emit('submit-person', this.personList);
                document
                    .getElementById('personFormModal')
                    .classList.remove('personFormModal');
            },
        },
    };
</script>
