<template>
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="card-text">
                        <span
                            style="cursor:pointer;"
                            data-bs-toggle="modal"
                            :data-bs-target="'#modal' + person.id"
                            >{{ person.name }}</span
                        >
                    </h4>
                    <div class="button">
                        <button
                            type="button"
                            class="btn btn-sm me-2 btn-outline-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#personFormModal"
                            @click="editPerson"
                        >
                            <i class="fas fa-edit"></i> Edit
                        </button>
                        <button
                            type="button"
                            class="btn btn-sm btn-outline-danger"
                            data-bs-toggle="modal"
                            :data-bs-target="'#delete' + person.id"
                        >
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <person-modal :modal="person">
            <div slot="personSlot">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        {{ person.name }}
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <p><strong>Genre:</strong> {{ person.gender }}</p>
                    <p><strong>DOB:</strong> {{ dateOfBirth }}</p>
                    <p><strong>Bio:</strong> {{ person.bio }}</p>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                </div>
            </div>
        </person-modal>

        <delete-modal
            :modal="person"
            :modalType="modalType"
            @delete-modal="deletePerson"
        ></delete-modal>
    </div>
</template>

<script>
    import PersonModal from './DetailModal.vue';
    import DeleteModal from './DeleteModal.vue';
    export default {
        props: ['person', 'modalType'],
        components: {
            PersonModal,
            DeleteModal,
        },
        computed: {
            dateOfBirth() {
                var date = this.person.dob.split('T')[0];
                var dArr = date.split('-');
                return dArr[2] + '/' + dArr[1] + '/' + dArr[0].substring();
            },
        },
        methods: {
            editPerson() {
                this.$emit('edit-person', this.person);
            },
            deletePerson(id) {
                this.$emit('delete-person', id);
            },
        },
    };
</script>
