<template>
    <main class="mb-lg-auto">
        <div class="py-5 text-center">
            <h1 style="font-family: 'Luckiest Guy', cursive;">IMDB App</h1>
            <p class="lead">
                IMDb is the world's most popular and authoritative source for
                movie, TV and celebrity content. Find ratings and reviews for
                the newest movie and TV shows.
            </p>
            <button
                class="btn btn-primary col-4"
                type="button"
                @click="addNewMovie()"
            >
                Add New Movie
            </button>
        </div>

        <div class="album py-5 ">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <movie-card
                        v-for="movie in moviesList"
                        :key="movie.id"
                        :movie="movie"
                        @delete-movie="deleteMovie"
                    ></movie-card>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import MovieCard from '../components/MovieCard.vue';
    import MovieService from '../services/MovieService.js';
    export default {
        components: {
            MovieCard,
        },
        created() {
            this.$store.dispatch('getMovies');
        },
        computed: {
            moviesList() {
                return this.$store.state.moviesList;
            },
        },
        methods: {
            addNewMovie() {
                this.$router.push('/addMovie');
            },
            deleteMovie(id) {
                this.$Progress.start();
                MovieService.deleteMovie(id)
                    .then(() => {
                        this.$store.dispatch('getMovies');
                        this.$Progress.finish();
                        this.$toast.success('Movie deleted successfully.');
                    })
                    .catch(() => {
                        console.log('Failed to delete movie.');
                        this.$Progress.fail();
                        this.$toast.error('Failed to delete movie.');
                    });
            },
        },
    };
</script>
