<template>
    <main class="mb-5">
        <div class="py-5 text-center">
            <h1 style="font-family: 'Luckiest Guy', cursive;">IMDb App</h1>
        </div>
       <MovieDetailForm></MovieDetailForm>
    </main>
</template>

<script>
    import MovieDetailForm from '../components/MovieDetailForm.vue';
    export default {
        components: {
            MovieDetailForm,
        },
    };
</script>
