<template>
    <main class="mb-lg-auto">
        <div class="py-5 text-center">
            <h1 style="font-family: 'Luckiest Guy', cursive;">IMDB App</h1>
            <p class="lead">
                IMDb is the world's most popular and authoritative source for
                movie, TV and celebrity content. Find ratings and reviews for
                the newest movie and TV shows.
            </p>
            <button
                class="btn btn-primary col-4"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#personFormModal"
                @click="addProducer"
            >
                Add New Producer
            </button>
        </div>

        <div class="album py-5 ">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <person-card
                        v-for="producer in producersList"
                        :key="producer.id"
                        :person="producer"
                        :modalType="person"
                        @edit-person="editProducer"
                        @delete-person="deleteProducer"
                    ></person-card>
                </div>
            </div>
        </div>

        <person-form
            ref="personForm"
            @submit-person="submitProducer"
        ></person-form>
    </main>
</template>

<script>
    import PersonCard from '../components/PersonCard.vue';
    import PersonForm from '../components/PersonForm.vue';
    import ProducerService from '../services/ProducerService.js';
    export default {
        components: {
            PersonCard,
            PersonForm,
        },
        data() {
            return {
                person: 'Producer',
            };
        },
        created() {
            this.$store.dispatch('getProducers');
        },
        computed: {
            producersList() {
                return this.$store.state.producersList;
            },
        },
        methods: {
            addProducer() {
                this.$refs.personForm.addDetail(this.person);
            },

            editProducer(person) {
                this.$refs.personForm.editDetail(person, this.person);
            },

            deleteProducer(id) {
                this.$Progress.start();
                ProducerService.deleteProducer(id)
                    .then(() => {
                        this.$store.dispatch('getProducers');
                        this.$Progress.finish();
                        this.$toast.success('Producer deleted successfully.');
                    })
                    .catch(() => {
                        console.log('Failed to delete producer');
                        this.$Progress.fail();
                        this.$toast.error('Failed to delete producer.');
                    });
            },

            submitProducer(person) {
                if (person.name !== '' && person.bio !== '') {
                    this.$Progress.start();
                    if (person.id === 0) {
                        ProducerService.addProducer(person)
                            .then(() => {
                                this.closeModal('personFormModal');
                                this.$store.dispatch('getProducers');
                                this.$Progress.finish();
                                this.$toast.success(
                                    'Producer added successfully.'
                                );
                            })
                            .catch(() => {
                                console.log('Failed to add producer');
                                this.$Progress.fail();
                                this.$toast.error('Failed to add producer.');
                            });
                    } else {
                        ProducerService.updateProducer(person.id, person)
                            .then(() => {
                                this.closeModal('personFormModal');
                                this.$store.dispatch('getProducers');
                                this.$Progress.finish();
                                this.$toast.success(
                                    'Producer updated successfully.'
                                );
                            })
                            .catch(() => {
                                console.log('Failed to update producer');
                                this.$Progress.fail();
                                this.$toast.error('Failed to update producer.');
                            });
                    }
                }
            },

            closeModal(formId) {
                const modal = document.getElementById(formId);
                modal.style.display = 'none';
                modal.setAttribute('aria-hidden', 'true');
                modal.removeAttribute('aria-modal');
                modal.removeAttribute('role');
                modal.classList.remove('show');
                document.body.classList.remove('modal-open');
                document
                    .querySelector('.modal-backdrop')
                    .classList.remove('modal-backdrop', 'show', 'fade');
            },
        },
    };
</script>
